.form {
  margin: 50px auto 20px;
  width: 800px;
}

.todo-input {
  background: none;
  border: 0;
  border-bottom: 1px solid #34495e;
  color: #34495e;
  font: 300 28px 'Ubuntu', sans-serif;
  height: 60px;
  outline: none;
  padding: 20px;
  width: 100%;
}
